:root {
	--background: rgb(10, 10, 10);
	--dock-background: rgb(2, 51, 0);
	--dock-height: 50px;
	--text-colour: rgb(31, 255, 80);
}

@font-face {
	font-family: "IBM";
	src: url("WebPlus_IBM_BIOS.woff");
}

body {
	background: var(--background);
	color: var(--text-colour);
	font-family: "IBM", "Courier New", Courier, monospace;
}

#page-container {
	display: none;
}

#content {
	margin-bottom: var(--dock-height);
}

#bottom-dock {
	display: flex;
	position: fixed;
	height: var(--dock-height);
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 3px solid var(--text-colour);
	background: var(--dock-background);
	align-items: center;
}

#bottom-dock > span {
	display: block;
	flex: 1 1 100%;
	text-align: center;
	height: 100%;
}

#bottom-dock > span > * {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 100%;
	width: 100%;
	color: inherit;
	text-decoration: inherit;
}

.centre {
	display: flex;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	align-items: center;
    justify-content: center;
}
